html{
    height: 100%;
}
body{
    /* background: linear-gradient(160deg,blue,red,yellow); */
    /* background: radial-gradient(ellipse,blue,green); */
    /* background: radial-gradient(circle,blue,green) */

}
button{
    padding: 20px;
    background: linear-gradient(90deg,blue,red);
}
button:hover{
    background: linear-gradient(180deg,red,blue);
    transition: 0.5s;

}