@import url("./variaveis.css");
button{
    background-color: darkseagreen;
    padding: 10px 20px;
    border: 2px solid black;
    cursor: pointer; /* mostrar que é pra clicar */
}
p{
    cursor: pointer;
}
/* essa sintaxe para interações */
button:hover{
    background-color: pink;
    border-radius: 1px solid blue;

}

/*qd clica nele muda algo  */
form input:focus{
   width: 30px;
}
h1{
    background-color:var(--azul)
}
h2{
 background-color: rgb(30, 78, 250);
}
h3{
    background-color: rgb(54, 109, 246);

}
h4{
    background-color: rgb(0, 119, 255);
    
}
h5{
    background-color: rgb(0, 140, 255);

}
h6{
    background-color: rgb(0, 174, 255);

}
.paragrafo2{
    background-color: rgb(0, 200, 255);

}